.bannerimg {
    width:  100%;
    height: 500px;
    margin: auto;
    object-fit: cover;
  }

 .bannerh1{
    font-size: 40px;
    
    color: #fff;
  }

 .bannerp{
    font-size: 20px;
    color: #fff;

  }